.product{
    display: flex;
    height:auto;
    width:90%;
    margin-left:50px;
    margin-top: 10px;
   
}
.product-image img{
    height:220px;
    width:220px;
    margin-right: 10px;
}
.product-name{
    text-align: left;
    color:blue;
    font-weight: 400;
}
p{
    margin-bottom: 10px;
}
.main-button{
    float: left;
}
.main-button{
    background-color: rgb(247, 180, 10);
    width: 150px;
    height: 30px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    cursor: pointer;
}